<div class="booyah-box col-10 offset-1">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'therion.jpg', class: 'user_profile img-fluid img-thumbnail'%>
    </div>
    <div class="col-8">
      <h1><%= @user.email %></h1><hr/><br />
      <i>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></i><br/>
      <i/br><%= @user.comments.count%> total comments</i><br />
      <i><%= @user.comments.where(rating: '5_stars').count %> total five-star reviews</i><br />
    </div>
  </div>
  <div class="clear"></div>
</div>
<br />
<h2 class="text-center">My Places</h2>
<br />
<div class="apple_pagination no_padding ">
  <% @user_places.each do |place| %>
    <div class="booyah-box col-10 offset-1">
      <h1><%= link_to place.name, place_path(place) %></h1><br />
      <i><%= place.address %></i><br /><br />
      <p><%= place.description %></p><br />
      <div class="row">
        <% place.comments.each do |comment| %>
          <div class="col-10 offset-1">
            <blockquote>
              <% if comment.humanized_rating.present? %>
                <b><%= comment.humanized_rating %></b> -
              <% end %>
              <%= comment.message%>
              <small><%= comment.user.email%></small>
            </blockquote>
          </div>
        <%end%>
      </div>
    </div>
  <%end%>
  <%= will_paginate @user_places, :container => false %>
</div>
